// This is the top-level scss file. Import all other files in here.
@import 'home';

html, body {
    height: 100%;
}

#react-root {
    height: 100%;
}

.issueRow {
    padding: 10px;
}

.bountyCard {
    padding: 50px;
    margin-top: 15px;
}